{% extends 'base5.html' %}

{% block title %}

{% endblock %}

{% block content %}


        <h2>About Us:</h2>

        <h4>The Components Of A Great About Us Page</h4>
<p>There isn’t a winning template to create a great About Us page. However, there are key components to make a convincing pitch with your brand story.</p>

<h4>Your Mission</h4>
<p>You don’t need to outright say, “our mission is ____,” but you should convey the mission of your business in your About Us copy. This is key for attracting talent, as well as leads that have Corporate Social Responsibility (CSR) goals.</p>

<h4>Your Story (History)</h4>
<p>Every business has an origin story worth telling, and usually, one that justifies why you even do business and have clients.</p>

Some centennial enterprises have pages of content that can fit in this section, while startups can tell the story of how the company was born, its challenges, and its vision for the future.</p>

<h4>Your Services (And Benefits)</h4>
<p>Of course, you have a homepage and dedicated pages for your products, but summarizing your offerings on the About Us page is crucial to tie them in with brand values in your messaging.
Highlight the benefits and showcase what you do (and why it is unique).</p>

<h4>Your Social Proof</h4>
<p>Reviews, client logos, case studies, and results bring consistency to your About Us page. It’s what really proves what you are saying is real and the impact you can bring to future clients.</p>

<p>With these components in mind, you will have a framework from which to build an engaging and unique About Us page.</p>

<p>However, if you are looking for some inspiration, the 25 examples below will guide your creative process.</p>


{% endblock %}