{% extends 'base4.html' %}

{% block title %}

{% endblock %}

{% block content %}

    <hr>
    <h1>Analysis tasks:</h1>
    <hr>
    <ul>
    {% for i in all_items %}
    <li>
        <h4>{{i.title}}</h4>
        <p>{{i.content}}</p>
        <hr>
          <form style="float:right;" action="/deleteTodoItem/{{i.id}}/" method = "post">{% csrf_token %}
              <input type="submit" value="Delete">
          </form>
          <form style="float:right;" action="/YourTodoDone/{{i.id}}/" method = "post">{% csrf_token %}
              <input type="submit" value="Done">
          </form>
        <p>Change status of task:</p>
        <hr>
    </li>
    <hr>
        {% endfor %}
    </ul>
    <hr>

{% endblock %}