{% extends 'base5.html' %}

{% block title %}

{% endblock %}

{% block content %}

<h2>Your Primary Task:</h2>

<hr>
<ul class="list-articles">
  <li>
    <div class="article-panel">
      <p class="first">Category: {{cat_for_title}}</p>
      <p class="last">Date: {{post.update_date|date:"d-m-Y H:i:s"}}</p>
    </div>
  </li>
  {% if post.photo %}
  <p><img class="img-article-left" src="{{post.photo.url}}"></p>
  {% endif %}
  <h2>{{post.title}}</h2>
  {{post.content|linebreaks}}
  <hr>
  <form style="float:right;" action="/deleteTodoItem/{{i.id}}/" method = "post">{% csrf_token %}
    <input type="submit" value="Delete">
  </form>
  <form style="float:right;" action="/YourTodoDone/{{i.id}}/" method = "post">{% csrf_token %}
    <input type="submit" value="Done">
  </form>
  <p>Change status of task:</p>
  <hr>
</ul>

<!--<ul>
{% for i in posts %}
<li>
  <div class="block" style="padding-top: 10px;">
    <h4>{{i.title}}</h4>
    <p>{{i.content}}</p>
    <hr>
      <form style="float:right;" action="/deleteTodoItem/{{i.id}}/" method = "post">{% csrf_token %}
          <input type="submit" value="Delete">
      </form>
      <form style="float:right;" action="/YourTodoDone/{{i.id}}/" method = "post">{% csrf_token %}
          <input type="submit" value="Done">
      </form>
    <p>Change status of task:</p>
    <hr>
  </div>
</li>
    {% endfor %}
</ul>-->


{% endblock %}