{% extends 'base5.html' %}

{% block title %}

{% endblock %}

{% block content %}
{% if object_list %}
<h2>Results:</h2>

<hr>
<ul class="list-articles">
	{% for p in object_list %} <!--instead of 'posts' we could have used 'object_list', if we use the ListView object in views.py-->
			<li><div class="article-panel">
	<p class="first">Category: {{p.cat}}</p>
	<p class="last">Date: {{p.update_date|date:"d-m-Y H:i:s"}}</p>
</div>
	<h2>{{p.title}}</h2>
	{% if p.photo %}
	<p><img class="img-article-left thumb" src="{{p.photo.url}}"></p>
    {% endif %}
	{% autoescape on %}
	{{p.content|linebreaks|truncatewords:50}}
	{% endautoescape %}
			<div class="clear"></div>
			<p class="link-read-post"><a href="{{ p.get_absolute_url }}">Read More</a></p>
			</li>
	<hr>
      <form style="float:right;" action="/deleteTodoItem/{{p.slug}}/" method = "post">{% csrf_token %}
          <input type="submit" value="Delete">
      </form>
      <form style="float:right;" action="/YourTodoDone/{{p.slug}}/" method = "post">{% csrf_token %}
          <input type="submit" value="Done">
      </form>
    <p>Change status of task:</p>
    <hr>
{% endfor %}
</ul>

{% else %}
<h2>Sorry, no results for your request.</h2>
<br>
<h2></h2>
<br>
<h2></h2>
<br>
<br>
<br>
{% endif %}
{% endblock %}