{% extends 'base5.html' %}

{% block title %}

{% endblock %}

{% block content %}
{% if cat_selected == 0 %}
<h2>Tasks Of All Categories:</h2>
{% else %}
<h2>{{cat_selected}}:</h2>
{% endif %}
<hr>
<ul class="list-articles">
	{% for p in posts %} <!--instead of 'posts' we could have used 'object_list', if we use the ListView object in views.py-->
			<li><div class="article-panel">
	<p class="first">Category: {{p.cat}}</p>
	<p class="last">Date: {{p.update_date|date:"d-m-Y H:i:s"}}</p>
</div>
	<h2>{{p.title}}</h2>
	{% if p.photo %}
	<p><img class="img-article-left thumb" src="{{p.photo.url}}"></p>
    {% endif %}
	{% autoescape on %}
	{{p.content|linebreaks|truncatewords:50}}
	{% endautoescape %}
			<div class="clear"></div>
			<p class="link-read-post"><a href="{{ p.get_absolute_url }}">Read More</a></p>
			</li>
	<hr>
      <form style="float:right;" action="/deleteTodoItem/{{p.slug}}/" method = "post">{% csrf_token %}
          <input type="submit" value="Delete">
      </form>
      <form style="float:right;" action="/YourTodoDone/{{p.slug}}/" method = "post">{% csrf_token %}
          <input type="submit" value="Done">
      </form>
    <p>Change status of task:</p>
    <hr>
	{% endfor %}
</ul>

<!-- Pagination:   -->
{% if page_obj.has_other_pages %}
<nav class="text-center">
  <ul>
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
    {% endif %}
    {% for p in paginator.page_range %}
      {% if page_obj.number == p %}
      |{{ p }}|
      {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
      <a href="?page={{ p }}">|{{ p }}|</a>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
    {% endif %}
  </ul>
</nav>
{% else %}
{% endif %}
<!-- Pagination END:  -->

{% endblock %}