{% extends 'base2.html' %}

{% block title %}

{% endblock %}

{% block content %}

    <hr>
    <form action="/addTodoView/" method = "post">{% csrf_token %}
        <h2>Make a new task:</h2>
        <input type="text" name="title">
        <h3>Specify the task:</h3>
        <input type="text" name="content">
        <input type="submit" value="Submit">
    </form>
    <hr>
    <h1>My To-Do list:</h1>
    <hr>
    <ul>
    {% for i in all_items %}
    <li>
        <h4>{{i.title}}</h4>
        <p>{{i.content}}</p>
        <hr>
        <form action="/deleteTodoItem/{{i.id}}/" method = "post">{% csrf_token %}
            <input type="submit" value="Delete">
        </form>
        <form action="/YourTodoDone/{{i.id}}/" method = "post">{% csrf_token %}
            <input type="submit" value="Done">
        </form>
        <hr>
    </li>
    {% endfor %}
    </ul>
    <hr>

{% endblock %}