{% extends 'base5.html' %}

{% block title %}

{% endblock %}

{% block content %}

<h1>Update task:</h1>

<hr>
<form action="{% url 'update' post.slug %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-error">{{ form.non_field_errors }}</div>
  {% for f in form %}
    <p><label class="form label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
  {% endfor %}
  <!--{{ form.as_p }}-->
  <button type="submit">Submit</button>
</form>

{% endblock %}